		<hr /> 
	</div>

	<footer> 
		<p><a href="http://www.penzha.com/" target="_blank">Penzha</a> 2015</p> 
	</footer> 
  </body>

<!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery-2.1.3.js"></script>
  
</html>